.Navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d14e4e;
    height: 60px;
    width: auto;
    box-shadow: 10px 10px 34px -1px rgba(204,204,204,1);
    margin-bottom: 50px;
}

.Navigation a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.Navigation a:hover{
    color: #000000;
    background-color: #a70a0a;
    transform: scale(1.3);
    cursor: pointer;
}