.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
}

.Form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #a70a0a;
}

button {
    background-color: #a70a0a;
    color: #ffffff;
    opacity: 0.6;
    transition: 0.3s;
    border: 1px solid #a70a0a;
    padding: 10px;
    font-size: 16px;
    margin-right: 0;
}

button:hover {
    opacity: 1;
    color: #000000;
    cursor: pointer;
}

ul.Todo-list {
    padding: 0;
    margin-top: 20px;
}

.Todo-list li {
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(161, 157, 157);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    list-style: none;
}

.Todo-list li:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #a70a0a;
    transform: scale(1.5);
}