.Container {
  background-color: #f3f3f3;
  border: 1px solid #cccccc;
  box-shadow: 10px 10px 34px -1px rgba(204,204,204,1);
  padding: 30px;
  margin: 0 auto;
  width: 80%;
  font-family: 'EB Garamond', serif;
  text-align: center;
}

h1 {
  font-size: 26px;
  font-weight: 500;
}

.Pages {
  display: flex;
  justify-content: center;
}